
{%extends 'base.html'%}



{% block content %}
{% for image in images %}
<div class="container">
    <div class="row">
        <br><br>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

            <h5 style="color: black;" class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><b><i>{{image.profile}}</i></b></h5>
            <img class="well" src="{{image.image.url}}"  width='400' height='400' alt="" class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="background-color: maroon;">
            <h5><b>Likes:</b> {{image.likes}}</h5>
            <h5>{{image.pub_date|timesince}} ago</h5>
            <h5><b>Comments:</b> {{image.comments}}</h5>
            <h5><b>Caption:</b> {{image.caption}}</h5>

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

            <h5><b>{{image.profile}}</b></h5>


            <h5>{{profile.first_name}}</h5>
        </div>
    </div>
</div>
{% endfor %}
{%endblock%}